.game-board{
	background-image: url(
	'img/GameBoard.png');
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;

}

#player { 
	height: 40px;
	width: 40px;
	background-color: red;
	border-radius: 50%;
	position: relative;
	top: 400px;
}

.column {
	height: 90vh;
	width: 60px;
	background-color: cyan;
	position: absolute;

}

#p1c2 {
	background-color: teal;
	position: static;
	float: right;
}

.walk-right {
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

.walk-left {
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-moz-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-ms-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-o-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}